* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  /* TODO: should we? (UI) */
  user-select: none;
  cursor: default;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
}

html, body, #root, .app, .map-container {
  height: 100%;
  width: 100%;
}

.trigger-icon {
  stroke: black;
  stroke-width: 3;
  cursor: pointer;
  fill: none;
}

.app {
  /* necessary to prevent dock from overflowing page on mobile */
  position: absolute;
  overflow: scroll;
}

/* MAP */
.map-container {
  position: fixed;
  top: 0;
  bottom: 0;
}

/* LEGEND */
div.legend {
  position: fixed;
  top: 8px;
  right: 8px;
  background: #ffffffcc;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
}
.legend div {
  padding: 4px;
  font-weight: 300;
}

.legend i {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 8px;
}
.legend i.past {
  background: rgba(0,80,92,.8);
}
.legend i.ongoing {
  background: rgba(175,105,12,.8);
}
.legend i.proposed {
  background: rgba(223,70,73,.8);
}

.legend .trigger-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 16px;
  stroke-width: 5;
  /* user-select: none; */
}

.legend.hidden {
  height: 10px;
  width: 10px;
}
.legend.hidden .content {
  display: none;
}

/* TOOLTIP */
.tooltip {
  z-index: 10;
  background: white;
  /* overflows map with absolute */
  position: fixed;
  padding: 15px;
  max-width: 210px;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
  border-top: gray solid 8px;
  border-radius: 4px;
}

.tooltip.past {
  border-top-color: rgba(0,80,92,.8);
}
.tooltip.ongoing {
  border-top-color: rgba(175,105,12,.8);
}
.tooltip.proposed {
  border-top-color: rgba(223,70,73,.8);
}

.tooltip .detail {
  /* TODO: ? (UI) */
  font-size: 12px;
  padding-top: 5px;
}

.tooltip .name {
  font-weight: 700;
  font-size: 14px;
}

.tooltip .click-hint {
  font-size: 8px;
  padding-top: 5px;
  text-align: center;
}

.tooltip .location-title {
  padding-top: 8px;
  font-weight: 300;
  font-size: 9px;
  text-transform: uppercase;
}

.tooltip .hovered-location.emphasized {
  font-weight: 700;
}

/* CARD DOCK */
div.card-dock {
  z-index: 5;
  position: relative;
  /* dock background initially just off-screen, appears when user scrolls up */
  top: 100vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 3px;
  background: white;
}

div.card-dock table {
  position: relative;
  /* top of card should stick up above window bottom */
  top: -100px;
  /* without width explicitly set, fixed table-layout won't apply */
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) -2px -4px 10px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px; */
}

div.card-dock.card-count-1 table {
  min-width: 300px;
  max-width: 325px;
}
div.card-dock.card-count-2 table {
  min-width: 600px;
  max-width: 650px;
}
div.card-dock.card-count-3 table {
  min-width: 900px;
  max-width: 975px;
}

div.card-dock.maximized {
  /* TODO: is there a maximized dock distinction? */
  /* top: 100vh; */
  /* allows scrolling of cards */
  /* position: relative; */
  transition: top 0.6s ease;
}

tr:not(:first-child) td:not(:first-child) {
  /* for a subtle division between cards */
  border-left: solid #f2f2f2 1px;
}

thead td {
  background: white;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  padding: 12px 12px 8px 8px;
  word-wrap: break-word;
  /* so trigger has a positioned element to hang onto */
  position: relative;
  font-weight: 700;
}

thead td.name {
  border-top-width: 8px;
  border-top-style: solid;
}
thead td.name.past {
  border-top-color: rgba(0,80,92,.8);
}
thead td.name.ongoing {
  border-top-color: rgba(175,105,12,.8);
}
thead td.name.proposed {
  border-top-color: rgba(223,70,73,.8);
}
thead td.name:first-child {
  border-top-left-radius: 3px;
}
thead td.name:last-child {
  border-top-right-radius: 3px;
}

thead td .remove-icon {
  position: absolute;
  width: 14px;
  top: 6px;
  right: 6px;
}

/* TODO: mixin? (dry) */
.card-dock .property-name,
.card-dock .property-location-title {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.card-dock .property-location-title {
  padding-top: 3px;
}

.property-cell.expandible .property-name {
  /* make room for trigger-icon */
  padding-right: 10px;
}

.property-cell.feature-header {
  font-weight: 700;
  text-align: center;
}
.property-cell.feature-header .property-value {
  padding: 0;
}

/* location titles should only be given a single line */
.card-dock .property-location-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.location-cell-content:not(:last-child) {
  padding-bottom: 5px;
}

/* TODO: mixin? (dry) */
.property-value {
  font-size: 14px;
  padding-top: 5px;
  overflow: hidden;
  /* transition: max-height ease 0.8s; */
}
.property-cell.expandible .property-value:not(.expanded) {
  max-height: 35px;
}

/* TODO: mixin? (dry) */
.property-cell .trigger-icon {
  position: absolute;
  width: 14px;
  right: 5px;
  top: 9px;
}

.property-cell {
  vertical-align: top;
  padding: 8px;
  position: relative;
}

.property-value a {
  display: block;
  cursor: pointer;
  padding-bottom: 8px;
}

/* alternating row colors */
tr:nth-child(odd) {background-color: #f7f7f7;} 
tr:nth-child(even) {background-color: #ffffff;} 

@media (max-width: 650px) {
  /* LEGEND */
  div.legend {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0;
    background: white;
  }
  div.legend .content {
    padding: 16px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
  div.legend i {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin-right: 14px;
  }
  div.legend .trigger-icon {
    width: 25px;
    right: 10px;
    top: 10px;
  }

  /* DOCK */
  /* for smaller screens, don't "dock" */
  div.card-dock,
  div.card-dock.maximized {
    position: absolute;
    top: 100vh;
  }

  div.card-dock thead td {
    font-size: 20px;
    line-height: 32px;
    height: 80px;
    /* make room for trigger-icon */
    padding-right: 40px;
  }
  
  thead td .remove-icon {
    width: 40px;
    top: 12px;
    right: 8px;
  }

  .card-dock .property-name,
  .card-dock .property-location-title {
    font-size: 20px;
    letter-spacing: unset;
  }

  .property-value {
    font-size: 20px;
  }
  .property-cell.expandible .property-value:not(.expanded) {
    max-height: 49px;
  }

  .property-cell .trigger-icon {
    width: 30px;
    right: 7px;
    top: 20px;
  }

  div.card-dock td {
    padding: 22px;
  }

  div.card-dock.card-count-1 table {
    /* min-width: 325px; */
    width: 100%;
    max-width: unset;
  }
  div.card-dock.card-count-2 table {
    /* min-width: 650px; */
    width: 150%;
    max-width: unset;
  }
  div.card-dock.card-count-3 table {
    /* min-width: 975px; */
    width: 200%;
    max-width: unset;
  }
}
@media (max-width: 991px) {
}
