/* body { margin:0; padding:0; min-height: 500px; } */

* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

html, body, #root, .app {
  height: 100%;
}

/* MAP */
.map-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* TOOLTIP */
.tooltip {
  z-index: 10;
  background: white;
  border: black solid 1px;
  /* overflows map with absolute */
  position: fixed;
  padding: 4px;
  max-width: 175px;
  /* margin: 0; */
}

.tooltip .detail {
  max-height: 70px;
  overflow: hidden;
}

.tooltip .name {
  /* font-weight: bold; */
  font-size: 12px;
}

.tooltip .click-hint {
  font-size: 8px;
  /* font-weight: bold; */
  padding-top: 5px;
  text-align: center;
}

.tooltip .location {
  display: inline;
}

/* CARD DOCK */
table.card-dock {
  z-index: 5;
  table-layout: fixed;
  position: fixed;
  /* top of dock should sit _px above window bottom */
  top: calc(100vh - 150px); 
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  min-width: 200px;
  /* max-width: 600px; */
  background: #f2f2f2;
  cursor: default;
  border-top: #c0c0c0 solid 7px;
  border-radius: 4px;
  transition: top 0.6s ease;
}

table.card-dock.maximized {
  top: calc(75vh - 300px);
  position: absolute;
}

tbody td {
  /* height: 30px; */
}

thead td {
  background: white;
  font-size: 13px;
  padding: 12px 12px 8px 8px;
  word-wrap: break-word;
  position: relative;
  font-weight: bold;
}

thead td .remove {
  position: absolute;
  font-size: 10px;
  top: 2px;
  right: 4px;
  color: grey;
  font-weight: lighter;
  cursor: pointer;
}

/* TODO: mixin? (dry) */
.card-dock .property-name,
.tooltip .location {
  font-weight: lighter;
  font-size: 9px;
  text-transform: uppercase;
  /* color: grey; */
  /* display: inline; */
}
.property-cell.expandible .property-name {
  /* make room for expand-icon */
  padding-right: 8px;
}

.property-value,
.tooltip .detail {
  font-size: 12px;
  padding-top: 5px;
  /* margin: 0; */
}

.property-value {
  max-height: 26px;
  overflow: hidden;
  /* transition: max-height ease 0.8s; */
}
.property-value.expanded {
  max-height: unset;
}

.property-cell .expand-icon {
  position: absolute;
  display: inline;
  right: 8px;
  top: 4px;
  font-size: 13px;
}

.property-cell {
  vertical-align: top;
  padding: 8px;
  position: relative;
}

tr:nth-child(odd) {background-color: #f7f7f7;} 
tr:nth-child(even) {background-color: #ffffff;} 

@media (max-width: 768px) {
}
@media (max-width: 991px) {
}