* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  /* TODO: should we? (UI) */
  user-select: none;
  cursor: default;
}

html, body, #root, .app, .map-container {
  height: 100%;
  width: 100%;
}

/* MAP */
.map-container {
  position: fixed;
  top: 0;
  bottom: 0;
}

/* LEGEND */
.legend {
  position: fixed;
  top: 8px;
  right: 8px;
  background: #ffffffcc;
  padding: 8px;
  border-radius: 4px;
  font-weight: lighter;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
}
.legend div {
  padding: 4px;
}

.legend i {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 8px;
}
.legend i.past {
  background: rgb(0,80,92);
}
.legend i.ongoing {
  background: rgb(223,70,73);
}
.legend i.proposed {
  background: rgb(175,105,12);
}

.legend .expand-icon {
  position: absolute;
  display: inline;
  right: 3px;
  top: 3px;
  cursor: pointer;
  /* user-select: none; */
  font-family: monospace !important;
  color: gray; 
}

.legend.hidden {
  height: 5px;
  width: 12px;
}
.legend.hidden .content {
  display: none;
}

/* TOOLTIP */
.tooltip {
  z-index: 10;
  background: white;
  border: black solid 1px;
  /* overflows map with absolute */
  position: fixed;
  padding: 4px;
  max-width: 175px;
  /* margin: 0; */
}

.tooltip .detail {
  /* TODO: ? (UI) */
  max-height: 70px;
  overflow: hidden;
}

.tooltip .name {
  /* font-weight: bold; */
  font-size: 12px;
}

.tooltip .click-hint {
  font-size: 8px;
  /* font-weight: bold; */
  padding-top: 5px;
  text-align: center;
}

.tooltip .location {
  display: inline;
}

/* CARD DOCK */
table.card-dock {
  z-index: 5;
  table-layout: fixed;
  position: fixed;
  /* top of dock should sit _px above window bottom */
  top: calc(100vh - 100px); 
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  min-width: 200px;
  /* max-width: 600px; */
  background: #f2f2f2;
  /* cursor: default; */
  border-top: #c0c0c0 solid 7px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px;
}

table.card-dock.card-count-1 {
  max-width: 320px;
}
table.card-dock.card-count-2 {
  max-width: 640px;
}
table.card-dock.card-count-3 {
  max-width: 960px;
}

table.card-dock.maximized {
  top: calc(100vh - 150px);
  /* allows scrolling of cards */
  position: absolute;
  transition: top 0.6s ease;
}

td {
  max-width: 200px;
}

thead td {
  background: white;
  font-size: 13px;
  padding: 12px 12px 8px 8px;
  word-wrap: break-word;
  position: relative;
  font-weight: bold;
}

thead td .remove {
  position: absolute;
  font-size: 10px;
  top: 2px;
  right: 4px;
  color: grey;
  font-weight: lighter;
  cursor: pointer;
  /* user-select: none; */
}

/* TODO: mixin? (dry) */
.card-dock .property-name,
.card-dock .property-location-title,
.tooltip .location {
  font-weight: lighter;
  font-size: 9px;
  text-transform: uppercase;
  /* color: grey; */
  /* display: inline; */
}
.property-cell.expandible .property-name {
  /* make room for expand-icon */
  padding-right: 8px;
}

.card-dock .location-cell-content,
.card-dock .property-location-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* TODO: mixin? (dry) */
.property-value,
.tooltip .detail {
  font-size: 12px;
  padding-top: 5px;
  /* margin: 0; */
}

.property-value {
  max-height: 26px;
  overflow: hidden;
  /* transition: max-height ease 0.8s; */
}
.property-value.expanded {
  max-height: unset;
}

/* TODO: mixin? (dry) */
.property-cell .expand-icon {
  position: absolute;
  display: inline;
  right: 8px;
  top: 4px;
  font-size: 13px;
  cursor: pointer;
  /* user-select: none; */
}

.property-cell {
  vertical-align: top;
  padding: 8px;
  position: relative;
}

/* alternating row colors */
tr:nth-child(odd) {background-color: #f7f7f7;} 
tr:nth-child(even) {background-color: #ffffff;} 

@media (max-width: 768px) {
}
@media (max-width: 991px) {
}
